.full-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.full-container .container{
    width: 46rem;
}
.navbar, .footer{
    z-index: 999;
}
.logo {
	text-align: center;
	line-height: 1.5;
}


.home-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
}
.home-search-input .search-query {
	padding-right: 40px;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.home-search-input .btn-search {
	border: 0;
	background: none;
	position: absolute;
	right: 15px;
	top: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#D9230F;
	z-index: 9999;
	height: 38px;
	cursor: pointer;
}

.home-search-input .btn-search:hover {
    background: #DDD;
    border-right: 1px #aaa solid;
    border-bottom: 1px #aaa solid;
    border-top: 1px #aaa solid;
    box-shadow: none;
}

.search-query:focus + .btn-search {
	z-index: 3;
}

.home-search-type{
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

.image-container {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}
.image-container img{
    max-width: 100%;
    margin: 2px 0;
}
@media (max-width: 500px) {
    .image-container {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
	}
}
