.image-container {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}
.image-container img{
    max-width: 100%;
    margin: 2px 0;
}
@media (max-width: 500px) {
    .image-container {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
	}
}