{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block footer %}

{% endblock %}

{% block title %}{% trans "Pages" %}{% endblock %}

{% block content %}
<div class="full-container">
	<main role="main" class="container">
		<h1 class="logo">Quero</h1>
		<form id="searchform" action="{% url 'search-result' %}" method="get" accept-charset="utf-8">
			<div id="home-search-input">
				<div class="input-group col-md-12">
					<input name="q" type="text" class=" search-query form-control" placeholder="Search" />
					<button class="btn btn-search" type="submit" form="searchform">
						<i class="fa fa-search"></i>
					</button>
				</div>
			 </div>
		</form>
	</main>
</div>
{% endblock %}
